*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 12px;
   }

body {
    box-sizing: border-box;
    }

body {
    background-color: #66bfbf;
}
header {
	text-align: center;
	font-size: 4rem;
	background-color: #056674;
	color: white;
	padding: 1.5rem;
	
}

.circle {
	border-radius: 50%;
	background-color: white;
	width: 30rem;
	height: 30rem;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.letters {
    border: solid 1px black;
    width: 20rem;
	height: 20rem;
	display: flex;
	
	
}

.letters li {
	font-size: 2.8rem;
	flex-grow: 1;
	
}

.words-container, .scoreBoard {
    width: 20rem;
    height: 20rem;
}

li {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.first-container {
	display: flex;
	justify-content: space-around;

}



.timer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.score-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	
}
.score-container h3 {
	font-size: 4rem;
	background-color: white;
	
}



#instructions{
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none;
}

#dictionary-check {
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
    /*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
    display: none; 
}

#instructions-textbox, #dispute-textbox {
    background-color: white;
	height: 45rem;
	width: 55rem;
    border-radius: 2px;
    margin: 15rem auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2rem;
	text-align: center;
	
}

#timer, #submit, #switch-player, #shuffle {
	width: 10rem;
	height: 3rem;
	font-size: 1.5rem;
}

#lets-play {
	font-size: 3rem;
	width: 15rem;
	height: 5rem;
	
}

#lets-play:hover {
	cursor: pointer;
	background-color: #ff4b5c;
}